<%@page import="it.eng.iot.configuration.Conf"%>
<%@page import="it.eng.iot.configuration.ConfIotaLoRa"%>
<%@page import="it.eng.iot.configuration.ConfIotaOPCUA"%>
<%@page import="it.eng.iot.configuration.ConfIotaLWM2M"%>
<%@page import="it.eng.iot.configuration.ConfIotaUL20"%>
<%@page import="it.eng.iot.configuration.ConfIotaJSON"%>
<%@page import="it.eng.iot.configuration.ConfIotaSigfox"%>


<script type="text/javascript">

var agentJSONEnabled = <%=ConfIotaJSON.getString("iota.json.enabled")%>
var agentUL20Enabled = <%=ConfIotaUL20.getString("iota.ul20.enabled")%>
var agentSigfoxEnabled = <%=ConfIotaSigfox.getString("iota.sigfox.enabled")%>
var agentLwm2mEnabled = <%=ConfIotaLWM2M.getString("iota.lwm2m.enabled")%>
var agenOpcuaEnabled = <%=ConfIotaOPCUA.getString("iota.opcua.enabled")%>
var agentLoraEnabled = <%=ConfIotaLoRa.getString("iota.lora.enabled")%>

var duplicateEnabled = <%=Conf.getString("duplicate.enabled")%>
var cameraEnabled = <%=Conf.getString("camera.enabled")%>
var devicesMassiveLoadingEnabled = <%=Conf.getString("devicesMassiveLoading.enabled")%>
var searchEnabled = <%=Conf.getString("search.enabled")%>

</script>