<!-- Modal Structure -->

  <div id="confirmDeleteDevice" class="modal confirmDeleteDevice">
    <div class="modal-content">
      <h4><i18n:message value="confirm-device-deletion-modal-title" />  <span id ="deviceToDeleteModal" data-id=""></span> </h4>
      <p id="modalDeleteConfirmText"><i18n:message value="confirm-device-deletion-modal-question" /></p>
      <p class="hide" id="modalDeleteConfirmTextKapua"><i18n:message value="confirm-device-deletion-modal-question-kapua" /></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i18n:message value="no" /></a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat deviceToDeleteModalYes"><i18n:message value="yes" /></a>
    </div>
  </div>
