<!-- JSTL -->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>


<div class="col s12 m6 l4 deviceitem template hide" data-id="" data-name="">
	<div class="card horizontal hoverable">
		<div class="card-image catImage">
			<img src="">
		</div>
		<div class="card-stacked">
			
			<div class="card-content" style="position:relative;">
				<p class="selector right">
					<i class="material-icons tooltipped runningicon hide redicon" data-position="top" data-delay="50" data-tooltip="<i18n:message value="running_simulation_for_this_device"/>" >settings_input_antenna</i>
					<i class="material-icons tooltipped cameraicon hide" data-position="top" data-delay="50" data-tooltip="<i18n:message value="camera"/>" >videocam</i>
					<label for="filled-in-box">
						<input type="checkbox" class="filled-in" id="filled-in-box" />
						<span></span>
					</label>
				</p>
				<span class="devCategory truncate">category</span>
				<p class="cardDevTitle devicename block-with-text hyphenate" id="devicename" >{Device name}</p>
				
				<a class="btn-floating halfway-fab waves-effect waves-light primary lighten-2 modaltrigger modal-trigger tooltipped" 
					data-position="top" data-delay="50" data-tooltip="<i18n:message value="device.details"/>" href="#devicedetails" data-deviceid="1">
					<i class="material-icons">open_in_browser</i>
				</a>
				<a class="btn-floating halfway-fab second-fab waves-effect waves-light red deletetrigger deletedevice deletesingledevice hide tooltipped" 
					data-position="top" data-delay="50" data-tooltip="<i18n:message value="delete"/>">
					<i class="material-icons">delete</i>
				</a>

			</div>
			<div class="card-action">
				<em href="#" class="devEnabler">enabler</em><br>
				<b href="#" class="devContext">context</b>
			</div>
		</div>
	</div>
	
</div>

