<%@page import="it.eng.iot.configuration.Conf"%>
<span class="hide" id="msg_unable_to_publish"><i18n:message value="msg_unable_to_publish"/></span>
<span class="hide" id="msg_device_with_this_name_exists"><i18n:message value="msg_device_with_this_name_exists"/></span>
<span class="hide" id="msg_camera_with_this_name_exists"><i18n:message value="msg_camera_with_this_name_exists"/></span>
<span class="hide" id="msg_camera_stream_url_is_not_valid"><i18n:message value="msg_camera_stream_url_is_not_valid"/></span>
<span class="hide" id="msg_attribute_exists"><i18n:message value="msg_attribute_exists"/></span>
<span class="hide" id="msg_mashup_exists"><i18n:message value="msg_mashup_exists"/></span>
<span class="hide" id="msg_mashup_deleted"><i18n:message value="msg_mashup_deleted"/></span>
<span class="hide" id="msg_attribute_missing"><i18n:message value="msg_attribute_missing"/></span>
<span class="hide" id="msg_device_deleted"><i18n:message value="msg_device_deleted"/></span>
<span class="hide" id="msg_devices_deleted"><i18n:message value="msg_devices_deleted"/></span>
<span class="hide" id="msg_device_published"><i18n:message value="msg_device_published"/></span>
<span class="hide" id="msg_update_filters_to_see_it"><i18n:message value="msg_update_filters_to_see_it"/></span>
<span class="hide" id="msg_invalid_device"><i18n:message value="msg_invalid_device"/></span>
<span class="hide" id="msg_confirm"><i18n:message value="msg_confirm"/></span>
<span class="hide" id="msg_invalid_value"><i18n:message value="msg_invalid_value"/></span>
<span class="hide" id="msg_configure_mashup"><i18n:message value="msg_configure_mashup"/></span>
<span class="hide" id="msg_not_delete_location"><i18n:message value="msg_not_delete_location"/></span>
<span class="hide" id="msg_command_missing"><i18n:message value="msg_command_missing"/></span>
<span class="hide" id="msg_endpoint_missing"><i18n:message value="msg_endpoint_missing"/></span>
<span class="hide" id="msg_server_endpoint_missing"><i18n:message value="msg_server_endpoint_missing"/></span>
<span class="hide" id="msg_authmethod_missing"><i18n:message value="msg_authmethod_missing"/></span>
<span class="hide" id="msg_credential_missing"><i18n:message value="msg_credential_missing"/></span>
<span class="hide" id="msg_iota_not_available"><i18n:message value="msg_iota_not_available"/></span>
<span class="hide" id="msg_nodatafound"><i18n:message value="msg_nodatafound"/></span>
<span class="hide" id="msg_infopoint_not_available"><i18n:message value="msg_infopoint_not_available"/></span>
<span class="hide" id="txt_notification_payload"><i18n:message value="txt_notification_payload"/></span>
<span class="hide" id="msg_forbidden_characters"><i18n:message value="msg_forbidden_characters"/></span>
<span class="hide" id="msg_forbidden_type"><i18n:message value="msg_forbidden_type"/></span>
<span class="hide" id="msg_sendcommand_success"><i18n:message value="msg_sendcommand_success"/></span>
<span class="hide" id="msg_sendcommand_failure"><i18n:message value="msg_sendcommand_failure"/></span>
<span class="hide" id="msg_cmd_not_available"><i18n:message value="msg_cmd_not_available"/></span>
<span class="hide" id="msg_fileupload_success"><i18n:message value="msg_fileupload_success"/></span>
<span class="hide" id="msg_fileupload_failure"><i18n:message value="msg_fileupload_failure"/></span>
<span class="hide" id="msg_invalid_dataformat"><i18n:message value="msg_invalid_dataformat"/></span>
<span class="hide" id="msg_conf_not_available"><i18n:message value="msg_conf_not_available"/></span>
<span class="hide" id="msg_invalid_attribute"><i18n:message value="msg_invalid_attribute"/></span>
<span class="hide" id="msg_simulation_not_possible"><i18n:message value="msg_simulation_not_possible"/></span>
<span class="hide" id="label_insert_device_endpoint"><i18n:message value="insert_device_endpoint"/></span>
<span class="hide" id="msg_unable_to_add_endpoint"><i18n:message value="msg_unable_to_add_endpoint"/></span>
<span class="hide" id="label_insert_device_endpoint_opcua"><i18n:message value="insert_device_endpoint_opcua"/></span>
<span class="hide" id="tip_insert_device_endpoint"><i18n:message  value="msg_mqtt_topic_communication"/></span>
<span class="hide" id="tip_insert_device_endpoint_opcua"><i18n:message  value="tip_insert_device_endpoint_opcua"/></span>
<span class="hide" id="mgs_scope"><i18n:message  value="scope"/></span>
<span class="hide" id="mgs_urbanservice"><i18n:message  value="urbanservice"/></span>
<span class="hide" id="msg_context_category_mandatory"><i18n:message  value="msg_context_category_mandatory"/></span>
<span class="hide" id="msg_no_filters"><i18n:message  value="msg_no_filters"/></span>
<span class="hide" id="msg_endpoint_is_not_valid"><i18n:message  value="msg_endpoint_is_not_valid"/></span>

<span class="hide" id="msg_chip_placeholder"><i18n:message  value="msg_chip_placeholder"/></span>
<span class="hide" id="msg_chip_sec_placeholder"><i18n:message  value="msg_chip_sec_placeholder"/></span>

<span class="hide" id="insert_device_eui_missing"><i18n:message  value="insert_device_eui_missing"/></span>
<span class="hide" id="insert_application_eui_missing"><i18n:message  value="insert_application_eui_missing"/></span>
<span class="hide" id="insert_application_id_missing"><i18n:message  value="insert_application_id_missing"/></span>
<span class="hide" id="insert_app_key_missing"><i18n:message  value="insert_app_key_missing"/></span>
<span class="hide" id="insert_access_key_missing"><i18n:message  value="insert_access_key_missing"/></span>
<span class="hide" id="msg_must_be_64bit_exad"><i18n:message  value="msg_must_be_64bit_exad"/></span>
<span class="hide" id="msg_must_be_128bit_exad"><i18n:message  value="msg_must_be_128bit_exad"/></span>
<span class="hide" id="insert_a_valid_endpoint"><i18n:message  value="insert_a_valid_endpoint"/></span>
<span class="hide" id="select_a_mashup"><i18n:message  value="select_a_mashup"/></span>
<span class="hide" id="msg_device_with_this_deviceID_exists"><i18n:message value="msg_device_with_this_deviceID_exists"/></span>
<span class="hide" id="space_warning"><i18n:message  value="space_warning"/></span>
<span class="hide" id="msg_insert_modbus_address"><i18n:message  value="msg_insert_modbus_address"/></span>
<span class="hide" id="msg_error_kapua_endpoint"><i18n:message  value="msg_error_kapua_endpoint"/></span>
