<!-- Modal Structure -->
<div id="confirm_modal" class="modal">

	<form action="#!" id="confirm_modal_form">
		<div class="modal-content">
			<a class="btn-floating btn-flat waves-effect waves-light modal-action modal-close right"> 
				<i class="material-icons black-text">close</i>
			</a>
			<h4>New camera published</h4>
			<div class="row">
				<div class="col s12">&nbsp;</div>
				<div class="col s12">
					<h6><i18n:message value="msg_confirm_A"/>&nbsp;<b id='deviceName'>{name}</b></h6>
					<h6><i18n:message value="msg_confirm_B"/></h6>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i18n:message value="close"/></a>
		</div>
	</form>
</div>
