<!-- Modal Structure -->
<div id="infopoint_cmd_modal" class="modal col s12">
	<form action="#!" id="infopoint_cmd_modal_form">
		<div class="modal-content">
			<h4><i18n:message value="title_cmdinfopoint"/></h4>
			<div class="row">
				<div class="col s12">&nbsp;</div>
				<div class="col s12">
					<h6><i18n:message value="txt_device_identifier"/>&nbsp;<b id='cmd_deviceId'>{deviceId}</b></h6>
				</div>
				
				<div id="cmditemlist">
					<div class="input-field col s12">
						<option value="" class="cmditem template hide">Template</option>
						<select id="cmdselect" class="cmdselect browser-default">
						</select>	
					</div>
					<div class="input-field col s12">
					   <textarea id="cmd_message_textarea" class="materialize-textarea"></textarea>
					   <label for="cmd_message_textarea"><i18n:message value="txt_cmd_message"/></label>
					</div>
				</div>	
					   
			</div>	
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i18n:message value="close"/></a>
			<a id="sendcommand" href="#!" class="btn  sendcommand"><i18n:message value="txt_send_command"/></a>
		</div>
	</form>
</div>
