<%@page import="it.eng.iot.configuration.ConfIotaLoRa"%>
<!-- LORA -->
							<div class="row bottommargin loraDetails hide">
								
								<div class="col s12 m10 offset-m1 choiceloraStack ">
											<h5>LoRa network
												<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="<i18n:message value="help_lora_choose_lora_stack" />" href='<%=ConfIotaLoRa.getString("iota.lora.appserver.stack-help-page")%>' target="_blank">
													<i class="material-icons">help</i>
												</a>
											</h5>
											
											<select id="loraStack">
												<!-- selected -->
												<option value="" disabled><i18n:message	value="msg_lora_choose_lora_stack" /></option>
												<option value="LORASERVER">LoRaServer</option>
												<option value="TTN" selected>The Things Network</option>
											</select>
								</div>
								
					<!-- 				LoRaServer 		-->
								<div class="col s12 m10 offset-m1 loraServerIoDeviceProfileDiv hide">
											
											<h5>
											Lora Device Profile
												<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="<i18n:message value="msg_help_lora_device_profile" />" href='<%=ConfIotaLoRa.getString("iota.lora.appserver.device-profile-help-page")%>' target="_blank">
													<i class="material-icons">help</i>
												</a>
											</h5>
												<select id="loraDeviceProfile" class="loraDeviceProfileC">
												</select>
								</div>
								
					<!-- 				TTN 			-->
								
								<div class="col s12 m10 offset-m1 loraDetailsDiv hide">
											
									<h5>
										<i18n:message value="lora_details" />
										<span id="loraIoDetailsHelp" class="hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="<i18n:message value="help_loraio_details" />" >
											<i class="material-icons">help</i>
										</span>
										<a id="loraTTNDetailsHelp" class="hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="<i18n:message value="help_lorattn_details" />" href='<%=ConfIotaLoRa.getString("iota.lora.ttn.help-console-page")%>' target="_blank">
											<i class="material-icons">help</i>
										</a>  
									</h5>
								</div>
								<div class="col s12 m10 offset-m1 loraDetailsDiv hide">
								
									<div class="row">
									
									
										<div class="input-field col s12 m6  loraTTNDetails">
											<input id="ttnAppId" type="text" class="validate devicetextfield" 
												placeholder='<i18n:message value="insert_application_id"/>'
											>
											<label for="ttnAppId">Application ID</label>
										</div>
										
										<div class="input-field col s12 m6  ">
											<input id="ttnDeviceID" type="text" class="validate devicetextfield" 
												
												placeholder='<i18n:message value="insert_ttn_device_id"/>'
											>
											<label for="ttnDeviceID">Device ID</label>
										</div>
										
										<div class="input-field col s12 m6  ">
											<input id="ttnDevEUI" type="text" class="validate devicetextfield" 
												
												placeholder='<i18n:message value="insert_device_eui"/>'
											>
											<label for="ttnDevEUI">Device EUI</label>
										</div>
										
									
												
										<div class="input-field col s12 m6  loraTTNDetails">
											
											<input id="ttnAppEUI" type="text" class="validate devicetextfield" 
												
												placeholder='<i18n:message value="insert_application_eui"/>'
											>
											<label for="ttnAppEUI">Application EUI</label>
										</div>	
										
										
										
										
										<div class="input-field col s12 ">
											<input id="ttnAppKey" type="text" class="validate devicetextfield" 
												
												placeholder='<i18n:message value="insert_app_key"/>'
											>
											<label for="ttnAppKey">App Key</label>
										</div>	
										
											
										
										<div class="input-field col s12  loraTTNDetails">
											<input id="ttnAccessKey" type="text" class="validate devicetextfield" 
												placeholder='<i18n:message value="insert_access_key"/>'
											>
											<label for="ttnAccessKey">Access Key</label>
										</div>	
												
									</div>			
												
								</div>
							</div>