<!-- JSTL -->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>

<div class="col s12 m4 l3 urbanserviceitem template hide">
	<div class="hoverable z-depth-1 block nopadding">
		<a href="#" class="serviceanchor secondary-text">
			<span class="white-text labelholder"><i18n:message value="urbanservice"/></span><br/>
			<span class="white-text urbanservicename truncate">{Urban service name}</span>
		</a>
		<c:if test = "${fn:containsIgnoreCase(urboIntegration, 'false')}">
			<c:if test = "${isSeller}">  
				<a href="#!" class="delsubcat" >
					<i class="material-icons black-text">delete</i>
				</a>
			</c:if>
		</c:if>
	</div>
</div>