html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#container_layout {
	min-height:100%;
	position:relative;
}

#body_layout {
	padding:10px;
	padding-bottom:90px;	/* Height of the footer */
}
#footer_layout {
	position:absolute;
	bottom:0;
	width:100%;
	height:90px;			/* Height of the footer */
}

/*Loader content*/
/* #contentloader { */
/*     position: relative; */
/*     width: 50%; */
/*     height: 25%; */
/*     left: 25%; */
/*     display: none; */
/* } */


/*No results*/
div#noresults {
    text-align: center;
    font-size: 2em;
    padding: 30px 0;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.3em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.6em; /*max-height: 3.6em; */
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


.iotmanager a.collection-item.block{ color: #263238; }


/*Filters*/
.iotmanager #filterSelect .select-dropdown li.disabled {
    border-bottom: 1px solid #ddd;
}
.iotmanager #filterSelect .dropdown-content li:hover.firstSel, 
.iotmanager #filterSelect .dropdown-content li.active.firstSel, 
.iotmanager #filterSelect .dropdown-content li.selected.firstSel {
    background-color: transparent;
}
.iotmanager #filterSelect li.firstSel a.btn-flat {
    font-size: small;
    font-weight: bold;
}
.iotmanager #filterSelect span.selAll, 
.iotmanager #filterSelect span.clrAll {
    padding: 7px;
}


/*Side-nav*/
.iotmanager #slide-out-main {
    position: absolute;
    top: 69px;
    height: calc(100% - 90px - 70px);
    border-right: 1px solid #eee;
    box-shadow: none;
    padding-top: 8px;
}

.iotmanager ul.sidenav ul.collapsible-accordion a.collapsible-header {
    padding: 0 32px;
        text-transform: uppercase;
}
.iotmanager ul.sidenav ul.collapsible-accordion .collapsible-body {
    padding: 1rem 2rem;
}
.iotmanager ul.sidenav ul.collapsible-accordion .collapsible-body .btn-flat:focus {
    background-color: rgba(0, 0, 0, 0);
}
@media only screen and (min-width : 992px) { 
	#devicedetails.modal .sidenav {
	    width: 350px;
	}
}
@media only screen and (max-width : 992px) { 
	.iotmanager #slide-out-main {
	    position: absolute;
	    top: 0;
	    height: 100%;
	}
	.iotmanager ul.sidenav ul.collapsible-accordion a.collapsible-header {
	    padding: 0 16px;
	}
}

.iotmanager #slide-out-main #selectalltrigger span.checkall,
.iotmanager #slide-out-main #selectalltrigger.checked span.uncheckall {
    display: inline-block;
}
.iotmanager #slide-out-main #selectalltrigger.checked span.checkall,
.iotmanager #slide-out-main #selectalltrigger span.uncheckall {
    display: none;
}

#slide-out-main li a {
   padding: 0 25px;
}

#slide-out-main li a.disabled {
    pointer-events: none;
    opacity: .5;
}

#devicedetails.modal .sidenav a.space-btn-float {
    margin: 10px 15px 0px;
}


/*Main container */
.iotmanager #mainContainer { 
  padding-left: 300px; 
} 

@media only screen and (max-width : 992px) { 
  .iotmanager #mainContainer { 
    padding: 10px 0 0 40px; 
 } 
} 


/*Card devices*/
.iotmanager .card.horizontal {
			min-height: 200px;
			height: 200px;
		}
	
.iotmanager .btn-floating.second-fab {
			transform: translate(-120%, 00%);
		}
.iotmanager .btn-floating.third-fab {
    transform: translate(-240%, 0%);
}
.iotmanager .card-action{
			font-size: smaller;
		}
	
.iotmanager .card.horizontal .card-image img{
			min-height: 200px;
			max-height: 200px;
		}
		
.iotmanager .card .card-content .cardDevTitle {
			display: block;
			font-size: 24px;
			margin-bottom: 8px;
		}
.iotmanager .card .card-content .selector.right {
			margin-right: -16px;
		}
		
.iotmanager .card .card-content .selector label [type="checkbox"] + span:not(.lever) {
    height: 22px;
}

.iotmanager #devicedetails{ 
	min-height:100%; 
	height:100%; 
	max-height:100%; 
	overflow:hidden; 
}

.iotmanager #devicedetails #actiondevice{
	position:absolute; 
	bottom:0;
}

.iotmanager #devicedetails .light{
	width:4%;
}


/*Map*/
@media (max-width: 600px) {
	.iotmanager #map{
		height: 100%;
	}
	.iotmanager #devicedetails{
		overflow: scroll;
	}
}
@media (min-width: 601px) {
	.iotmanager #map{
		height: 100%;
	}
}

@media (max-width: 600px){

	.iotmanager #devicedetails nav {
		color: #fff;
		background-color: #003050;
		width: 100%;
		height: 64px;
		line-height: 64px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}

	.iotmanager #devicedetails .modal-content {
		margin-top: 64px !important;
		height: calc(100% - 64px);
	}
}

/*Device details page*/
.iotmanager #devicedetails .modal-content #details{
	height:100%;
	padding:25px;
}
.iotmanager #devicedetails .attrlist .switch label input[type=checkbox]:checked+.lever:after{
	background-color: #81C784;
}
.iotmanager #mapvisualization{
	width:100%; 
/* 	height: 100%;  */
	background-color: gray; 
	position:relative;
	right:0; 
	top:0; 
	bottom:0;
	margin: 20px auto 0;
}

.iotmanager #devicedetails .attributesGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}
.iotmanager #devicedetails .attributesGroup .attribName {
    max-width: calc(350px - 36%);
}
	
.iotmanager #devicedetails .attributesGroup .attribIcons {
    display: inline-flex;
    	display: -webkit-inline-flex;
}
.iotmanager #devicedetails .attributesGroup .attribIcons a:hover {
    background-color: rgba(0, 0, 0, 0.0);
}

.iotmanager .attrlist.collection .collection-item {
    line-height: 2rem;
    padding: 10px 20px 30px;
}

.iotmanager #payloadCode .collapsible-header {
    justify-content: space-between;
     -webkit-justify-content: space-between;
}
.iotmanager #payloadCode .payloaditem .collapsible-header .openIcon {
	display: none;
}
.iotmanager #payloadCode .payloaditem .collapsible-header .closeIcon{
	display: block;
}
.iotmanager #payloadCode .payloaditem.active .collapsible-header .openIcon {
	display: block;
}
.iotmanager #payloadCode .payloaditem.active .collapsible-header .closeIcon{
	display: none;
}

#simulationconfig_modal .range-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    
    display: -webkit-inline-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
#simulationconfig_modal .range-field {
    width: 90%;
}
#simulationconfig_modal .range_num_imput_container {
    padding-top: 20px;
}
#simulationconfig_modal .range_num_imput{
/*     width: 70px; */
/*     padding: 0 10px; */
	text-align: center;
}




/*Pagination*/
.iotmanager #pagination-show{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
.iotmanager #pagination-show #pagination-long {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-basis: auto;
}
.iotmanager #pagination-show #pagination-long .pagination{
    min-width: 160px;
    text-align: center;
}

.iotmanager #pagination-show #deviceperpage {
    font-size: 1.2em;
}
.iotmanager #pagination-show #deviceperpage {
    font-size: 1.2em;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 270px;
}
.iotmanager #pagination-show #deviceperpage .deviceperpage {
    text-align: center;
}
.iotmanager #pagination-show #deviceperpage .deviceperpage.active {
    font-weight: 700;
    text-decoration: underline;
}

/*Chips*/
.chips .input{
	width: 100% !important;
}


/* Listeners Modal*/
.iotmanager #listeners_modal #mainRow{
		background-color: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(60,92,217,1) 50%, rgba(255,21,0,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(130, 153, 170,1)), color-stop(100%, rgba(130, 153, 170,1)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(130, 153, 170,1) 50%, rgba(130, 153, 170,1) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(130, 153, 170,1) 50%, rgba(130, 153, 170,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(130, 153, 170,1) 50%, rgba(130, 153, 170,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(130, 153, 170,1) 50%, rgba(130, 153, 170,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8299AA', GradientType=1 );
	}
	
.iotmanager #listeners_modal #mainRow.singleMainRow{
	
	background: rgba(130, 153, 170,1);
}

.iotmanager #listeners_modal #mashappender.collection .collection-item.avatar .mashupActions{
	display: block;
	margin-top: 25px;
    text-align: right;
}
.iotmanager #listeners_modal #endpointappender.collection .collection-item.avatar .endpointActions{
	display: block;
	margin-top: 25px;
    text-align: right;
}
.iotmanager #listeners_modal #endpointappender.collection .collection-item.avatar .secondary-bottom-content {
    padding: 0 0 0 8px;
}	
.iotmanager #listeners_modal #endpointappender.collection .collection-item.avatar .secondary-bottom-content.other-content {
	    transform: translateX(-40px);
	}
	
.iotmanager #listeners_modal #endpointHeaders.collapsible {
	   border: 0px;
       box-shadow: none;
	}

.iotmanager #listeners_modal .collection .collection-item.avatar {
	    min-height: 84px;
	}
	
.iotmanager #listeners_modal .collection .collection-item .numHeaders{
		font-size: .8em;
	}
	
	
.iotmanager .attrlist .lastValue:before {
    content: "> ";
}


.iotmanager .attrlist .lastValue {
    font-family: Monospace;
    font-size: 0.9rem;
    overflow-x: hidden;
}	
	
/*Received measures on device detail*/	
.iotmanager #running_attributes_appender .collection-item.measureCollection{ padding: 20px 20px }

.iotmanager #column-running-attributes  .card .card-content {
    max-height: 800px;
    overflow-y: auto;
}

	
/*Make red the icon on running device (badges) */	
.iotmanager .runningicon.redicon { color: #FF0000 }	


/*infopoint*/
.iotmanager .liveDataCurl {
	background-color: #efefef;
	padding: 10px 20px;
}

.iotmanager #payloadCode .payloaditem .collapsible-body {
	background-color: #efefef;
}
