
li.countDev.red {
    background-color: red;
}

.iotmanager #catlist{
	margin-top: 45px;
}

.iotmanager .catitem{
	margin-bottom: 20px;
}
.iotmanager .catitem a.catanchor{
	display:block;
	height:100%;
	font-size:1.5rem;
	text-transform:capitalize;
	display: flex;
	display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: start;
    -webkit-align-items: start;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    background-size: cover;
    background-position: center center;
}
.iotmanager .catitem.enabler a.catanchor{
	background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
}

.iotmanager .catitem.enabler#city a.catanchor{
   background-image: url('//s4c.eng.it/images/enabler-city.png');
}
.iotmanager .catitem.enabler#facility a.catanchor{
   background-image: url('//s4c.eng.it/images/enabler-facility.png');
}
.iotmanager .catitem.enabler#farm a.catanchor{
   background-image: url('//s4c.eng.it/images/enabler-farm.png');
}

/* .iotmanager .catitem a.catanchor{ */
    
/* } */

.iotmanager .catitem .block{
	width:100%;
	height:265px;
	padding: 20px 16px;
	position:relative;
}
.iotmanager .catitem .block .labelholder {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    padding: 10px 20px 0;
}
.iotmanager .catitem .block .catname {
    font-size: 32px;
    font-weight: 300;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    padding: 0px 20px 10px;
    color: white;
}

.container {
 	/* container -footer -breadcrubms -navbar */
    min-height: calc(100% - 90px - 64px - 45px)
} 

@media only screen and (max-width: 600px) {
	 .container {
	 	/* container -navbar -breadcrumbs -footer */
	    min-height: calc(100% - 56px - 68px - 90px );
	}
}

