/*General layout*/

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

#containerLayout {
  min-height:100%;
  position:relative;
}
#headerLayout {
  padding-bottom: 0px;
}
#bodyLayout {
  padding-bottom: 90px;	/* Height of the footer */
}
#footerLayout {
  position:absolute;
  bottom:0;
  width:100%;
  height:90px;
}

footer{
    justify-content: center;
    height: 100%;
}


.iotmanager html, body, head{ 
	color: #232222 !important; 
}

html body > form {
    margin: 0;
}


#contentloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    top: 0;
    z-index: 9999999;
    background-color: rgba(0,0,0,.5) !important;
}
.progress {
    width: 50%;
    margin: auto;
    position: fixed;
    top: calc(100% - 50vh);
    right: 0;
    left: 0;
}

.iotmanager .h-40{
	height:40px;
}

.iotmanager #pageloader{
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	height:100%; 
	width:100%;
	z-index:1000;
}

.iotmanager nav ul a {
    color: #000;
}

.iotmanager #pageloader i{
	margin: 0 auto;
}

.iotmanager #main-logo {
    width: auto;
    height: 60px;
}
@media (max-width: 600px) {
	.iotmanager #main-logo {
	    width: auto;
	    height: 55px;
	}
}
@media only screen and (max-width: 992px){}
	nav .brand-logo.left {
	    left: 4.5rem;
	}
}

/* .iotmanager [type="checkbox"].filled-in:checked+label:after{ */
/* 	border: 2px solid #1976D2; */
/*     background-color:#1976D2; */
/* } */
/*
.iotmanager .switch label input[type=checkbox]:checked+.lever:after{
	background-color: #77943E;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #93AA64;
}
*/


.iotmanager [type="radio"]:checked + label:after, 
.iotmanager [type="radio"].with-gap:checked + label:after {
    background-color: #FFC107;
    z-index: 0;
}

.iotmanager [type="radio"]:checked + label:after, 
.iotmanager [type="radio"].with-gap:checked + label:before, 
.iotmanager [type="radio"].with-gap:checked + label:after {
    border: 2px solid #FFC107;
}


@media (min-width: 1366px) {
	.iotmanager .containerized{ 
		padding: 0 16px;
	    width: 100%;
	}
}

.iotmanager .fullsizecol{ padding-left:0px !important ; padding-right:0px !important; }
.iotmanager .nomargin{ margin:0px !important; }
.iotmanager .topmargin{ margin-top:20px 0 0 0 !important; }
.iotmanager .bottommargin{ margin: 0 0 20px 0 !important; }
.iotmanager .nopadding{ padding: 0px !important; }
.iotmanager .container-iot{
    min-width: 320px;
    padding:20px 20px;
/*     flex-grow:1; */
    position:relative;
}
@media only screen and (min-width: 993px) {
  .iotmanager .container,
  .iotmanager .container-iot {
      width: 90%;
  }
}
@media only screen and (min-width: 601px) {
  .iotmanager .container,
  .iotmanager .container-iot {
      width: 95%;
  }
}

.iotmanager .materialize .breadcrumb:before, .breadcrumb{
	color: #37474F !important;
	vertical-align:middle;
}
.iotmanager #side-main-logo{ width: auto; padding: 20px 0 0;}
.iotmanager .block{ display:block; }
.iotmanager .inline{ display:inline; }
.iotmanager .inlineblock{ display:inline-block; }
.iotmanager #searchform{
	/*
	    display: inline-block;
	    margin: 0 auto;
	    position: absolute;
	    left: -1px;
	    right: -1px;
    */
}

/*
.iotmanager .hide-on-med-and-down #searchform{
    min-width: 280px;
}

.iotmanager .searchBar {
    width: calc(100% - 450px);
    margin: 0 auto;
}

.iotmanager #searchform input#search{
    background-color: #efefef;
}

.iotmanager #searchform .fullsizecol .input-field{ height: 45px; }
.iotmanager #search:focus{
}
.iotmanager #searchform > div.input-field{
	width: 100%; 
	border-radius:2px 2px 2px 2px; 
	height:45px; 
}

.iotmanager nav .nav-wrapper #searchform i{ height: 45px; line-height:45px; }
*/

/*SEARCH*/
.iotmanager .searchBar #search,
.iotmanager .searchBar .openSearch {
/*     width: calc(50% - 450px); */
	cursor: pointer;
}
.input-field input[type=search]:focus:not(.browser-default) {
    background-color: rgb(200, 0, 75);
    border: 0;
    box-shadow: none;
    color: white;
}
.nav-wrapper .input-field input[type=search] {
     width: 0px;
}

nav .input-field label.active i {
    color: #000;
}
nav .input-field i.closeSearch{
	display: none;
}
.input-field input[type=search]:focus:not(.browser-default) + label i, 
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close, 
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
    color: white;
}

@media only screen and (max-width: 992px) {
	.nav-wrapper .input-field input[type=search] {
	    width: calc(100% - 4rem);
	}
}


.iotmanager nav .languageAnchor{
	width:100%;
	height:100%;
}
.iotmanager #mobilesearch { display:none; height: 64px; }
.iotmanager .activeLang { text-transform: uppercase; }
.iotmanager nav ul.languagemenu a:hover{
	background-color: rgba(0,0,0,0);
}
.iotmanager .breadcrumb_bar{
	height:inherit;
}

@media only screen and (max-width: 600px) {

	.iotmanager .breadcrumb_bar a.breadcrumb {
		display: none;
	}
/* 	.iotmanager .breadcrumb_bar:nth-child(2) a.breadcrumb { */
/* 	    display: inline-block; */
/* 	} */
	.iotmanager .breadcrumb_bar:last-child::before {
		content: "...";
	}
	.iotmanager .breadcrumb_bar a.breadcrumb:last-of-type {
		display: inline-block;
	}

}


.iotmanager .text-italic{
	font-style: italic;
}


.iotmanager .collection .collection-item.avatar {
    min-height: 64px;
}

.iotmanager .collection .vertical-align-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}



.iotmanager #dropdownTools, 
.iotmanager #dropdownToolsMob{
    width: auto !important;
}
.iotmanager #dropdownTools li,
.iotmanager #dropdownToolsMob li{
    white-space: nowrap;
}

.iotmanager #dropdownTools li a,
.iotmanager #dropdownToolsMob li a{
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    overflow-x: hidden;
}
.iotmanager #dropdownTools li a img,
.iotmanager #dropdownToolsMob li a img {
    height: 40px;
    margin-right: 10px;
}

.iotmanager .action-fab{
	position: absolute;
}
 
/* 
.container {
 	container -footer -breadcrubms -navbar
    min-height: calc(100% - 90px - 70px - 64px);
} 

@media only screen and (max-width: 600px) {
	 .container {
	 	container -navbar -breadcrumbs -footer
	    min-height: calc(100% - 56px - 68px - 90px );
	}
}
 */
 
#devicedetails #details {
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
#devicedetails #details .floatContent {
    width: 100%;
    height: 100%;
    padding: 25px;
    background: #fff;
}


#devicedetails.modal .dropdown-content li > a, 
#devicedetails.modal .dropdown-content li > span {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#devicedetails.modal .sidenav li > a > i, 
#devicedetails.modal .sidenav li > a > [class^="mdi-"], 
#devicedetails.modal .sidenav li > a > [class*="mdi-"], 
#devicedetails.modal .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 25px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}

#devicedetails.modal .sidenav ul.dropdown-content li > a:hover {
    background-color: rgba(0, 0, 0, 0.00);
}

#devicedetails.modal .sidenav {
	z-index: 99999;
}
#devicedetails.modal #sidenav-overlay {
    z-index: 99997;
}

footer {
    font-size: 13px;
    line-height: 25px;
    color: #919191;
}
footer.page-footer .footer-copyright {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}
footer .footer-copyright div {
    min-width: 10%;
}


footer .poweredBy {
    margin: 0px 20px;
}

footer .poweredBy img {
    max-height: 25px;
}
footer .poweredBy.left-align img {
    max-height: 45px;
}
footer .poweredBy.right-align img {
    max-height: 25px;
}

footer, #push {
    height: 90px; 
}

