	.window{
		width: 20%;
	    min-width: 300px;
	    position: absolute;
	    top: 18px;
	    z-index: 400;
	    right: 40px;
	}
	
	.window {
	  -webkit-transform: translate(0%, 0%);
	          transform: translate(0%, 0%);
	  
	  transition: top 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), width 0.5s 0.5s cubic-bezier(0.1, 1.2, 0.3, 1), opacity 0.3s, -webkit-transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
	  transition: top 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), width 0.5s 0.5s cubic-bezier(0.1, 1.2, 0.3, 1), opacity 0.3s;
	  transition: top 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), width 0.5s 0.5s cubic-bezier(0.1, 1.2, 0.3, 1), opacity 0.3s, -webkit-transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
	}
	.window .window-controls {
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 9;
	  height: 48px;
	  width: 48px;
	}
	.window .card .maximize {
	    position: absolute;
	    bottom: -32px;
	    opacity: 0;
	    left: 0;
	    z-index: 9;
	    width: 100%;
	    height: 36px;
	    text-align: center;
	    line-height: 32px;
	    cursor: pointer;
	    display: inline-flex;
	    transition: opacity .1s 0s, top 0s 0s;
	    align-items: center;
	    padding: 10px;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	}
	.window .window-controls .minimize {
	  opacity: .5;
	  cursor: pointer;
	}
	.window .window-controls .minimize:hover {
	  opacity: .7;
	}
	.window .window-controls .minimize:active {
	  opacity: 1;
	}

	.window .window-controls .minimize {
	    width: 44px;
	    height: 44px;
	    padding: 10px;
	}
	
	.window span.label-icon {
	    font-size: 24px;
	    width: 100%;
	    text-align: center;
	    padding: 0px 3px 6px;
	}
	
	.minimized.window {
	  top: 0%;
	  -webkit-transform: translate(0%, -100%);
	          transform: translate(0%, -100%);
	  opacity: 1;
	}
	
	.minimized.window:hover {
	  opacity: .75;
	}
	.minimized.window .maximize {
	    bottom: -50px;
	    opacity: 1;
	    transition: opacity 0s, bottom 0s;
	}



	
	@media only screen and (max-width: 992px){
	
		.window{
		    top: 65px;
		    right: 20px;
		}
		
		.minimized.window .maximize {
		    bottom: -113px;
		    opacity: 1;
		    transition: opacity 0s, bottom 0s;
		}
	}	