.container {
	/* container -navbar -breadcrumbs -footer */
    min-height: calc(100% - 64px - 70px - 90px );
}

@media only screen and (max-width: 600px) {
	 .container {
	 	/* container -navbar -breadcrumbs -footer */
	    min-height: calc(100% - 56px - 68px - 90px );
	}
}

.iotmanager .urbanserviceitem{
	margin-bottom: 20px;
}
.iotmanager .urbanserviceitem a.serviceanchor{
	display:block;
	padding:20px 16px;
	height:100%;
	font-size:1.5rem;
	text-transform:capitalize;
}

.iotmanager .urbanserviceitem .block{
	width:100%;
	height:265px;
	padding: 20px 16px;
	position:relative;
    background-color: #ccc;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 70px auto;
}

.iotmanager .urbanserviceitem .block .labelholder{
/* 	color: #a3b3ba; */
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
}
.iotmanager .urbanserviceitem .block .urbanservicename{
	font-size: 32px;
    font-weight: 300;
}
.iotmanager .urbanserviceitem .delsubcat{
	position:absolute; 
	bottom:20px; 
	right:16px;
}
.iotmanager .urbanserviceitem#newurbanservicetrigger .block{
	box-shadow: 0px 0px 10px #999 inset;
}
.iotmanager .urbanserviceitem#newurbanservicetrigger a{
	padding:64px 0px;
}
.iotmanager select{
	display: inline;
	color: #a3b3ba;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}
.iotmanager .mapcentervalues{
	display: inline;
	color: #a3b3ba;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
}
